name: test

on:
  pull_request:
    branches: [ 'main', 'main-dev' ]
    types: [ opened, synchronize, reopened, labeled, review_requested ]
  workflow_dispatch:


jobs:
  test:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        python-version: [ 3.11 ]

    permissions:
      contents: write
      id-token: write
      pull-requests: write
      issues: write

    steps:
      - name: checkout
        uses: actions/checkout@v3
      - name: Set up Python ${{ matrix.python-version }}
        uses: actions/setup-python@v2
        with:
          python-version: ${{ matrix.python-version }}
      - name: Update pip and install flit
        run: |-
          python -m pip install --upgrade pip
          pip install flit
      - name: Install Dependencies
        run: |-
          flit install --deps=all --extras=all --symlink
      - name: Run tests
        run: |-
          pytest --cov=mof --cov-report=term-missing --cov-report=xml \
          -o console_output_style=progress --disable-warnings
      - name: Get Cover
        uses: orgoro/coverage@v3.1
        with:
          coverageFile: ./coverage.xml
          token: ${{ secrets.GITHUB_TOKEN }}
